.footer {
  width: 400px;
  left: calc(50% - 200px);
  position: absolute;
  bottom: 20px;
  background: #7c7c7c;
  border-radius: 8px;
}

.socialIconsList {
  margin: 5% 5% 0;
  text-align: center;
}

.socialIconsList a {
  margin: 0 5%;
}

.footer svg {
  height: 55px;
}

.footer p {
  font-family: sans-serif;
  font-size: 14px;
  padding: 3px;
  text-align: center;
}
