.projectBlock {
  margin: 80px 0;
  overflow: auto;
}

.projectBlock:first-of-type {
  margin-top: 0;
}

div.projectBlock h1 {
  text-align: left;
}

.projectBlock img {
  border-radius: 8px;
  float: left;
  height: 400px;
  margin-right: 18px;
}

.comingSoon {
  text-align: center;
  font-style: italic;
}
