.projectBlock {
  margin: 80px 0;
  overflow: auto;
}

.projectBlock:first-of-type {
  margin-top: 0;
}

div.projectBlock h1 {
  text-align: left;
}

.highlightBlock {
  margin-bottom: 80px;
  overflow: hidden;
}

.highlightBlock:last-of-type {
  margin-bottom: 0;
}

.highlightTitle {
  margin: 0;
  text-align: left;
}

.highlightBlock p {
  margin: 0;
}

.linkSection {
  text-align: left;
}

.linkSection li {
  display: block;
}
